#main{
    border: 2px solid black;
    height:800px;
    width:500px; 
    margin:auto;
    padding-top:100px;
    padding-left: 50px;

  
}
.divider{
    width:50%;
    margin-top:20px;
    margin-left: 10px;
}
ul{
    margin-left: -20px;
}